<ul id="lists">
  <% @lists.each do |list| %>
    <li class="<%= list[:all_completed] ? 'complete' : '' %>">
      <a href=<%= "lists/#{list[:id]}" %>>
        <h2><%= list[:name] %></h2>
        <p><%= todo_completion_counter(list) %> / <%= todos_count(list) %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>